= form_with scope: @user, url: users_path, local: true do |f|
  %div
    .form-group
      = f.label :name, 'ユーザー名'
      = f.text_field :name, class: 'form-control', placeholder: 'ex) 山田太郎'
    .form-group
      = f.label :email, 'メールアドレス'
      = f.text_field :email, class: 'form-control', placeholder: 'ex)sample@example.com'
    .form-group
      = f.label :password, 'パスワード'
      %br
      %td= f.password_field  :password, id: :user_password, class: 'form_txt', placeholder: 'パスワード'
      %td= f.password_field :password_confirmation, id: :user_password_confirmation, class: 'form_txt', placeholder: 'パスワード（確認用）'
    .form-group
      = f.label :profile, '自己紹介'
      = f.text_field :profile, class: 'form-control', placeholder: '自己紹介'
    .lock-area
      = f.submit 'Sign up', class: 'btn btn-primary submit-btn'
      %button
        = link_to 'Cancel', login_path, class: 'menu-link'